torch>=2.0.1
tokenizers>=0.14.0
transformers==4.46.3
accelerate
attrdict
tqdm
evaluate
deepspeed
datasets==2.21.0
tensorboardX
peft
scikit-learn
word2number
more_itertools
tqdm-multiprocess
sqlitedict
rouge-score
numexpr
zstandard
fire
sentencepiece
gekko